name: Notify Integration Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'A semver'
        default: 0.0.1
        required: false
jobs:
  send_notify_release_request:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Test
        run: |
          curl --request POST \
          --url https://a4a1-2603-8001-6e03-e8c9-20f9-8515-2344-12d2.ngrok.io/products/packer/integrations/integration-example/notify-release \
          --header 'Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "version": "${{ github.event.inputs.version }}",
            "sha": "main"
            }'
